<div class="bg-white border-end" id="sidebar-wrapper">
    <div class="sidebar-heading d-flex justify-content-between align-items-center p-3">
        <img id="logo-text" src="{{ url_for('static', filename='Image/Logo.svg') }}" alt="CustomGPT Logo" class="logo">
        <button class="btn btn-link p-0" id="menu-toggle">
            <img src="{{ url_for('static', filename='Image/nav.svg') }}" alt="Toggle Menu">
        </button>
    </div>

    <hr class="menu-divider">

    <!-- Контейнер для меню с отступами -->
    <div class="menu-container px-3"> <!-- Добавлен класс menu-container с отступами -->
        <div class="list-group list-group-flush">
            <!-- Измените href на URL-адрес маршрута Flask -->
           <a href="{{ url_for('auth.index') }}"
   class="list-group-item list-group-item-action d-flex align-items-center {% if request.path == url_for('auth.index') %} active {% endif %}" data-tooltip="Главная">
    <img src="{{ url_for('static', filename='Image/estate.svg') }}" alt="Главная" class="icon">
    <span class="menu-text">Главная</span>
</a>
           <a href="{{ url_for('projects.all_projects') }}"
   class="list-group-item list-group-item-action d-flex align-items-center {% if request.path == url_for('projects.all_projects') %} active {% endif %}" data-tooltip="Проекты">
    <img src="{{ url_for('static', filename='Image/apps.svg') }}" alt="Проекты" class="icon">
    <span class="menu-text">Проекты</span>
</a>

<a href="#"
   class="list-group-item list-group-item-action d-flex align-items-center {% if request.path == '/tariff' %} active {% endif %}" data-tooltip="Тариф">
    <img src="{{ url_for('static', filename='Image/wallet.svg') }}" alt="Тариф" class="icon">
    <span class="menu-text">Тариф</span>
</a>

<a href="#"
   class="list-group-item list-group-item-action d-flex align-items-center {% if request.path == '/partners' %} active {% endif %}" data-tooltip="Партнерам">
    <img src="{{ url_for('static', filename='Image/diamond2.svg') }}" alt="Партнёрская программа" class="icon">
    <span class="menu-text">Партнерам</span>
</a>
        </div>
    </div>

    <!-- Добавляем разделительную линию перед блоком с пользователем -->
    <hr class="menu-divider user-divider">


    <!-- Блок с информацией о пользователе -->
    <div class="sidebar-footer d-flex align-items-center p-3">
        <img src="{{ url_for('static', filename='Image/Frame.svg') }}" alt="User Icon" class="icon">
        <div class="user-info">
            <span class="user-name">{{ username }}</span><br>
            <span class="user-email">{{ email }}</span>
        </div>
        <a href="{{ url_for('auth.logout') }}" class="logout-icon ms-auto">
            <img src="{{ url_for('static', filename='Image/Login 3.svg') }}" alt="Logout Icon">
        </a>
    </div>
</div>
