<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение регистрации</title>
</head>
<body>
    <p>Здравствуйте!</p>
    <p>Спасибо за регистрацию. Пожалуйста, подтвердите ваш email, перейдя по следующей ссылке:</p>
    <p><a href="{{ confirm_url }}">Подтвердить email</a></p>
    <p>Если вы не регистрировались, просто проигнорируйте это письмо.</p>
</body>
</html>
